/* see the brand guide for colors, fonts, and images in CodePen: 
https://docs.google.com/document/d/124Wli0Rxp4GhOrrOijzznbnOfNC9kP8wOVZnPZsR2DE/edit?usp=sharing */

img {
  border: 1px solid red;
}

div {
  border: 1px solid rgb(21, 0, 255);
}

body {background-color: #D98555;
  margin: 0;
  padding: 0;}

@media screen and (max-width: 992px) and (min-width: 768px) {
  body{ background-color: #59331D;
    margin: 0;
    padding: 0;}

.navbar{}

nav ul{
  width: 60%;
}

.cover{
    width: 75%;
  }

.contactC {
    background-color: #131D26 ;
    border: none;
    color: black;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 10px;
    border-radius: 8px;
  }

  .contactC:hover {
    background-color: #F2F2F2;
    color: #D98555;}

    #grid4{
      margin: 0px 0px;
      display: grid;
      gap: 0px;
      padding: 0px 0px 0px 0px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
     }
}

@media screen and (max-width: 768px) {
  body{ background-color: #D98555;
  margin: 0;
  padding: 0;
  }

  nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
  }
  
  .navbar li {
    display: block;
  }

  #grid3 {margin: 0px 25px;
    display: grid;
    justify-self: center;
    padding: 5px 0px 0px 10px;
    grid-template-columns: 1fr 1fr 1fr;
   }

    .Bio {font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
    display: grid;
    float: center;
    padding: 20px;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
  }

  .cover{
    grid-column: 1 / span 2;
    grid-row: 2 / 2;
  }

  #grid1{margin: 0px 10px;
    display: grid;
    padding: 5px 0px 0px 10px;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  .contactC {
    background-color: #082B59;
    border: none;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 10px 10px;
    border-radius: 50%;
  }
  .contactC:hover {
    background-color: #F2F2F2;
    color: #D98555;}

    #grid1{margin: 0px 10px;
      display: grid;
      gap: 20px;
      padding: 5px 0px 0px 10px;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
    }  

    #grid2{margin: 0px 0px;
      display: grid;
      padding: 0px 0px 0px 10px;
      column-gap: 0px;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
    }

    .PourP{
      display: none;
      width: 40%;
    }
    
    .PourA{
      visibility: hidden;
    }

    .PourD{
      visibility: hidden;
     
    }

    .contact {
      justify-content: center;
      align-items: center;
      display: block;
      width: 600px;
      height: 200px;
      background-color: #082B59;
      grid-column: 100%;
      grid-row: 100%;
    }

    .contactB {
      background-color: #F2F2F2 ;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 8px;
    }

  #grid4{
    margin: 0px 0px;
    display: grid;
    gap: 0px;
    padding: 0px 0px 0px 0px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
   }

   .colum{
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 305px;
    height: 220px; 
  }
  
  .smPour{
    display: block;
    width: 75%;
    grid-column: 100%;
    grid-row: 1 / 3; 
    visibility: hidden;
  }
  
  .blended{
    display: block;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    width: 305px;
    height: 220px; 
  }
  
  .beans{
    display: block;
    width: 75%;
    grid-column: 1 / 2;
    grid-row: 2 / 2; 
  }
  
  .light{
    display: block;
    width: 60%;
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    width: 305px;
    height: 220px;
    visibility: hidden;
  }
  
  .menu{
    display: block;
    width: 100%;
    grid-column: 2 / 2;
    grid-row: 2 / 2; 
  }
}

nav {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  height: 80px;
  font-size: 20px;
  overflow: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  background-color: #131D26;
}

.navbar {
  list-style-type: none;
  display: flex;
  align-items: center; 
  color: white;
  margin: 0px;
  justify-content: flex-end;
  text-decoration: none;
  width: 100%;
}

.navdiv{
  justify-content: space-between;
  align-items: center;
}

.navLogo {
  display: inline-block;
}

nav a:hover{
  background-color: #D98555;
}

nav ul{
  width: 100%;
}

.navbar li {
  list-style: none;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
}

#grid1{margin: 0px 10px;
  display: grid;
  padding: 5px 0px 0px 10px;
  grid-template-columns: 65% 35%;
  grid-template-rows: 50% 50%;
}

.about {font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0px;
  font-size: 24px;
  align-items: center;
}

.Bio {font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  float: right;
  padding: 15px 15px 15px 20px;
  grid-row: 100%;
}
.contactC {
  background-color: #131D26 ;
  border: none;
  color: #F2F2F2;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  margin: 10px 10px;
  border-radius: 8px;
}

.contactC:hover {
  background-color: #F2F2F2;
  color: #D98555;}

#grid2{margin: 0px 10px;
  display: grid;
  padding: 5px 0px 0px 10px;
  min-height: 433px;
  column-gap: 0px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
}

#grid3{margin: 0px 25px;
 display: grid;
 padding: 5px 0px 0px 10px;
 grid-template-columns: 40% 60%;
 grid-template-rows: 100%;
}
  

.PourP{
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
}

.contact {
  justify-content: center;
  align-items: center;
  display: flex;
  width: auto;
  height: auto;
  background-color: #082B59;
  grid-column: 3 / 3;
  grid-row: 1 / span 2;
}

.contactB {
  background-color: #F2F2F2 ;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.PourA{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  width: auto;
  height: auto;
  font-size: 18px;
  grid-column: 3 / 3;
  grid-column-start: 3;
  grid-row: 3 / 3;
  align-content: center;
  justify-content: center;
}

.PourD{
  display: inline-grid;
  grid-column: 4 / span 5;
  grid-row: 1 / span 3;
}

#grid4{
  margin: 5px 0px;
  display: grid;
  gap: 10px 10px;
  padding: 5px 0px 0px 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
 }

.colum{
  display: block;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  width: 305px;
  height: 220px;
  justify-self: left; 
}

.smPour{
  display: block;
  grid-column: 1 / 3;
  grid-row: 2 / 2; 
}

.blended{
  display: block;
  grid-column: 3 / 3;
  grid-row: 1 / 2;
  width: 305px;
  height: 220px;
  justify-self: center;
  align-content: center; 
}

.beans{
  display: block;
  grid-column: 2 / 3;
  grid-row: 1 / 2; 
}

.light{
  display: block;
  grid-column: 2 / 3;
  grid-row: 2 / 2;
  width: 305px;
  height: 220px;
  justify-self: center;
  align-content: center; 
}

.menu{
  display: block;
  grid-column: 3 / 3;
  grid-row: 2 / 2;
  justify-self: center;
  align-content: center;  
}

footer {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #131D26;
  color: grey;
  Text-align: center;
}